<!DOCTYPE html>
<html lang="en">

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>

<script async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% if page.title %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet"
          href="{{ '/style.css' | relative_url }}">

    <link rel="stylesheet"
      href="{{ '/style.css' | relative_url }}">

    <link rel="stylesheet"
        href="{{ '/rouge.css' | relative_url }}">
</head>

<body>

<header>
    <div class="header-inner">

        <a class="site-title"
           href="{{ '/' | relative_url }}">
            {{ site.title }}
        </a>

        <nav>
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/about.html' | relative_url }}">About</a>
            <a href="{{ '/posts.html' | relative_url }}">Posts</a>
        </nav>

    </div>
</header>


<main>

    {{ content }}

</main>


<footer>

    <p>
        © {{ site.time | date: "%Y" }} {{ site.title }}
    </p>

</footer>

</body>
</html>